.logo_cia {
    width: 4.2rem;
}

h1 {
    font-weight: bolder;
    color: rgb(92, 181, 184);
    
}

form {
    background-color: rgb(192, 222, 223);   
}

.btn-primary{
    border-radius: 10px;
    background-color: rgb(5, 126, 126);
    border:none;
}

iframe{
    width: 500px; 
    height:350px; 
    border-color:black;
}

.footer{
    text-align: center;
    
}

.card-img-top{
    border-radius: 10px;
}
.card {
    border-radius: 10px;
    transition: transform 1.3s;
}

.imgstyle:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    }
